In [10]:
from PIL import Image, ImageDraw #Подключим необходимые библиотеки.
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# Загрузка картинки (пока в программе требуется чтобы картинка называлась temp.jpg)
img_name = "castle.jpg"

image = Image.open(img_name) #Открываем изображение. 
pix = image.load() #Выгружаем значения пикселей.
width = image.size[0] #Определяем ширину. 
height = image.size[1] #Определяем высоту.

In [9]:
pix[0,0]

(29, 133, 194)

In [12]:
# Создаем массив для кластеризации
import pandas as pd
data_df=[]
for i in range(width): 
    for j in range(height):
        r=pix[i, j][0]
        g=pix[i, j][1]
        b=pix[i, j][2]
        data_df.append([r,g,b])
           
df_1=pd.DataFrame(columns=['R','G','B'], data=data_df)

In [13]:
df_1

          R    G    B
0        29  133  194
1        33  135  197
2        32  134  196
3        32  134  196
4        37  137  199
...      ..  ...  ...
2996968   3   12    0
2996969  25   34   17
2996970  18   24   10
2996971   9   15    5
2996972   8   10    5

[2996973 rows x 3 columns]

#### Функция для сохранения картинки с новым значением пикселей

In [ ]:
img_new = Image.new("RGB",(width, height))
draw_new = ImageDraw(img_new)

img_save = "castle_reduction.jpg"

# функция для "рисования" пикселя на картинке
for x,y in zip(width, height):
    draw_new.point((x,y), (red, green, blue))

img_new.save(img_save, "JPEG")
del draw_new